html,body {
    padding: 0px;
    margin: 0px;
}

nav {
    display: flex;
    background-color: #2AB8DA;
    padding: 10px;
    font-size: 15px;
    font-family: Calibri;
    justify-content: space-between;
    /*Alinea verticalmente los items*/
    align-items: center;
}

nav ul{
    display: flex;
}

nav li{
    padding-left: 20px;
    list-style: none;
}

nav li a{
    font-size: 20px;
    font-weight: bold;
    color:#356093;
    text-decoration: none;
}

nav li a:hover{
    color:  white;
}
